// Overlay for de0_nano board
/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2708";

	fragment@1 {
		target = <&gpio>;
		__overlay__ {
			spi0_pins: spi0_pins {
				brcm,pins = <9 10 11>;
				brcm,function = <4>; /* alt0 */
			};

			eth_cs_pins: eth_cs_pins {
				brcm,pins = <8 23>;
				brcm,function = <1>; /* out */
			};

			eth0_irq_pin: eth0_irq_pin {
				brcm,pins = <7>;
				brcm,function = <0>; /* in */
				brcm,pull = <0>; /* none */
			};

			eth1_irq_pin: eth1_irq_pin {
				brcm,pins = <24>;
				brcm,function = <0>; /* in */
				brcm,pull = <0>; /* none */
			};
		};
	};

	fragment@2 {
		target = <&spi0>;
		__overlay__ {
			/* needed to avoid dtc warning */
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "brcm,bcm2835-spi";
			pinctrl-0 = <&spi0_pins &eth_cs_pins>;
			status = "okay";
			cs-gpios = <&gpio 8 1>, <&gpio 23 1>;

			spidev@0{
				status = "disabled";
			};

			spidev@1{
				status = "disabled";
			};

			eth0: enc28j60@0{
				compatible = "microchip,enc28j60";
				reg = <0>; /* CE0 */
				pinctrl-names = "default";
				pinctrl-0 = <&eth0_irq_pin>;
				interrupt-parent = <&gpio>;
				interrupts = <7 0x2>; /* falling edge */
				spi-max-frequency = <20000000>;
				status = "okay";
			};

			eth1: enc28j60@1{
				compatible = "microchip,enc28j60";
				reg = <1>; /* CE1 */
				pinctrl-names = "default";
				pinctrl-0 = <&eth1_irq_pin>;
				interrupt-parent = <&gpio>;
				interrupts = <24 0x2>; /* falling edge */
				spi-max-frequency = <20000000>;
				status = "okay";
			};
		};
	};
};
